$Regular: "Franklin_Gothic_Book", sans-serif;
$Bold: "Franklin_Gothic_Havy", sans-serif;
$Medium: "Franklin_Gothic_Medium", sans-serif;
$Demi: "Franklin_Gothic_Demi", sans-serif;

$blue: #0056b2; //РУК Синий
$blue_1: #003c7c; //РУК Синий 2
$blue_2: #001e3e; //РУК Синий 3
$black: #222222; // Чёрный
$white: #ffffff; // Белый
$white_2: #f5f5f5;
$red: #c10230; // Красный
$green: #73be43; // Зелёный
$gray: #393e42; // Серый
$gray_1: #aba4b5;
$gray_2: #dfdce6;
$orange: #ed7817;
