$Regular: "Franklin_Gothic_Book";
$Bold: "Franklin_Gothic_Havy";
$Medium:"Franklin_Gothic_Medium";

$blue: #0056B2;//РУК Синий
$blue_1: #003C7C;//РУК Синий 2
$blue_2: #001E3E;//РУК Синий 3
$black: #000000; // Чёрный
$white: #ffffff; // Белый
$red: #c10230; // Красный
$green: #73be43; // Зелёный
$gray: #393e42; // Серый
