.text {
    &-white {
        color: $white;
    }

    &-red {
        color: $red;
    }

    &-gray {
        color: $gray;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-m {
        font-size: clamp(0.875rem, 10vw - 1rem, 1rem);
        &--fix{
            font-size: 1rem;
        }
    }

    &-s {
        font-size: clamp(0.75rem, 10vw - 1rem, 0.875rem);
        &--fix{
            font-size: 0.875rem;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $Bold !important;
    font-weight: bold;
    line-height: 1;
}

h1,
.h1 {
    font-size: 2.181em;
}

h2,
.h2 {
    font-size: 1.727em;
}

h3,
.h3 {
    font-size: 1.363em;
}