.glossary {
    &__scroll {
        height: 80dvh;
        padding-right: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .ps__rail-y {
            margin: 0;
        }
    }
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__header {
        padding-top: 1rem;
        width: 100%;
        max-width: 45%;

        @media (hover: none) {
            max-width: 100%;
        }
    }

    &__link {
        padding: 0.5rem;
        text-align: center;
        color: white;
        font-size: 1rem;
        border-radius: 16px;
        cursor: pointer;

        transition-property: background-color, color;
        transition-duration: 0.25s;
        transition-timing-function: ease;

        &_container {
            display: flex;
            flex-wrap: wrap;
        }

        @media (hover: hover) {
            &:hover {
                background-color: $white;
                color: $blue_1;
            }
        }
    }

    &__input {
        padding: 0.875rem 1rem 0.875rem 3rem;
        background-color: transparent;
        color: $white;
        outline: none;
        border: 1px solid rgba($white, 0.7);
        border-radius: 12px;
        font-size: clamp(0.875rem, 4vw - 1rem, 1rem);
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: rgba($white, 0.7);
        }
    }

    &__liter {
        color: white;
        margin-bottom: 0.5em;
    }
    &__contant {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__card {
        padding: 2rem 2.5rem;
        border-radius: 32px;
        background-color: $white;
        width: 100%;
        max-width: 48%;

        @media (hover: none) {
            max-width: 100%;
        }
    }
    &__title {
        font-family: "Franklin_Gothic_Demi", sans-serif;
        font-size: clamp(1.75rem, 4vw - 1rem, 2rem);
        color: $black;
        margin-bottom: 0.75rem;
    }
    &__text {
        font-size: clamp(0.875rem, 4vw - 1rem, 1rem);
        color: $black;
        margin-bottom: 1.5rem;
    }
    &__image {
        border-radius: 24px;
        overflow: hidden;
    }
}
