.materials {
    &__scroll {
        height: calc(100dvh - 6rem - 65px);
        padding: 0.625rem 1.5rem;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
    }

    &__link,
    &__item {
        border-radius: 32px;
        padding: 2rem 2.5rem;
        cursor: pointer;
        width: 100%;
        max-width: 48%;

        transition-property: background-color;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;

        @media (hover: none) {
            max-width: 100%;
            padding: 1.5rem;
        }
    }

    &__link {
        background-color: #fce7bb;
    }

    &__item {
        background-color: #d4ebff;
    }

    &__img {
        border-radius: 24px;
        overflow: hidden;
        margin-bottom: 1.5rem;
    }

    &__title {
        font-family: "Franklin_Gothic_Demi", sans-serif;
        font-size: clamp(1.25rem, 4vw - 1rem, 1.5rem);
        color: $black;
        margin-bottom: 1.5rem;
    }

    &__description {
        display: flex;
        justify-content: space-between;

        &_text {
            font-size: 0.875rem;
        }

        svg {
            max-width: 24px;
            max-height: 24px;
        }
    }
}
