.menu {
    &__contant {
        display: flex;
        max-width: 1280px;
        width: 100dvw;
        height: calc(100% - 64px);
        // background-color: $white_2;
        margin: 0 auto;
        padding: 3rem;

        transition-property: background-color;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;

        @media (hover: none) {
            padding: 3rem 0.5rem;
        }

        &_buttons {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 0.681em;
        }
    }

    &__nav {
        position: fixed;
        z-index: 98;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
        height: 100%;
        width: 100%;
        overflow-y: hidden;
        background: linear-gradient(254deg, #003c7c 0%, #0056b2 100%);

        &-content {
            display: flex;
            position: relative;
            flex-wrap: wrap;
            width: 100%;
            gap: 1.25rem;
            padding: 10px;
            padding-right: 1rem;
        }

        &-card {
            display: flex;
            flex-direction: column;
            opacity: 0;
            transform: translateY(-10px);
            border-radius: 20px;
            transition-property: background-color, transform, opacity;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;

            &_image {
                position: relative;
                border-radius: 25px;
                overflow: hidden;
                margin-bottom: 1rem;
                transform: translateY(0);
                transition-property: box-shadow, transform;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;

                @media (hover: hover) {
                    &:hover {
                        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
                        transform: translateY(-5px);
                    }
                }
            }

            &_icon {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 72px;
                height: 72px;
            }

            &_text {
                color: $white;
                font-size: clamp(0.875rem, 10vw - 1rem, 1rem);
            }

            &.active {
            }

            &.visited {
            }

            &.disable {
                .menu__nav-card_image {
                    img {
                        filter: brightness(50%);
                    }
                }
            }
        }

        &-btn {
            text-decoration: none;
            font-size: 24px;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 30px;
            padding: 1rem;
            border-radius: 10px;
            transition-property: color, transform, background-color;
            transition-duration: 0.25s;
            transition-timing-function: ease-in-out;
            cursor: pointer;

            span {
                color: white;
                font-size: 24px;
                font-weight: 600;
            }

            &--open {
                // background-color: #0083c4;
                transform: scale(1.2);
            }
        }
    }

    &__container {
        max-height: calc(100dvh - 6rem - 65px);
        overflow: hidden;
        height: 100%;
        width: 100%;

        border-top: 1px solid rgba($white, 0.7);
        border-bottom: 1px solid rgba($white, 0.7);
    }

    &__close {
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        align-items: center;
        background-color: $blue;
        border-radius: 50%;
        border: 1px solid $blue;
        transition-property: color, background-color, border-color, box-shadow, transform;
        transition-duration: 0.25s;
        transition-timing-function: ease;

        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;

        svg {
            width: 1.2rem;
            height: 1.2rem;

            use {
                fill: white;
                transition-property: fill;
                transition-duration: 0.25s;
                transition-timing-function: ease;
            }
        }

        @media (hover: hover) {
            &:hover {
                background-color: $white;
                box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
                transform: translateY(-5px);

                use {
                    fill: $blue;
                }
            }
        }

        &:focus {
            outline: unset;
        }
    }

    &__scroll {
        height: calc(100dvh - 6rem - 65px);
    }
}

.navigation {
    &-buttons {
        display: flex;
        justify-content: center;

        margin-top: auto;

        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
    }
}
