.radio {
    margin: 16px 0;

    &.radio-inline {
        display: inline-block;
    }

    input[type="radio"] {
        display: none;
        // transition: all 0.3s ease;

        &:checked {
            + label:before {
                // transition: all 0.3s ease;
                // border-color: rgba($blue, 1);
                animation: ripple 0.2s linear forwards;
            }

            + label:after {
                animation: dot 0.2s linear forwards;
            }
        }
    }

    label {
        display: inline-block;
        min-height: 20px;
        position: relative;
        padding: 0 0 0 45px;
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: bottom;
        transition: all 0.3s ease;

        &:before,
        &:after {
            content: "";
            position: absolute;
            border-radius: 50%;
            transition: all 0.3s ease;
        }

        &:before {
            left: 0;
            top: 1px;
            width: 25px;
            height: 25px;
            background: #fff;
            border: 2px solid rgba(141, 141, 141, 0.2);
            border-radius: 50%;
            cursor: pointer;

            @media #{$breakpoint-xs-only} {
                top: -1px;
            }
        }

        &:after {
            top: 6px;
            left: 5px;
            width: 15px;
            height: 15px;
            transform: scale(0);
            background: rgba($blue, 1);

            @media #{$breakpoint-xs-only} {
                top: 4px;
            }
        }
    }
}

@keyframes ripple {
    0% {
        box-shadow: 0px 0px 0px 1px rgba($blue, 0);
        border-color: rgba($blue, 0);
    }

    50% {
        box-shadow: 0px 0px 0px 15px rgba($blue, 0.1);
    }

    100% {
        box-shadow: 0px 0px 0px 15px rgba($blue, 0);
        border-color: rgba($blue, 1);
    }
}

@keyframes dot {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
